/* Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sky-blue: #00bfff;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
/* Root ends */
/* Loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Loader ends */
#cont {
    display: none;
}
.head {
    background-color: #0f0f0f;
    max-height: 110px;
}
.head li {
    list-style: none;
    font-size: 18px;
    color: #e5e5e5;
}

.logo-area {
    display: flex;
    align-items: center;
    min-height: 100px;
    /* width: 100vw; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sticky {
    position: fixed;
    top: 0;
    /* padding-top: 60px; */
    width: 100%;
}

#nav-area {
    z-index: 1;
}

.nav,
.nav-bar {
    display: flex;
    padding-right: 5px;
    align-items: center;
    justify-content: right;
    min-height: 100px;
}

.nav li {
    margin: 0 8%;
    padding:  0 10%;
    color: #fff;
}

.nav-list:hover {
    text-decoration: none;
}

.nav li a {
    color: #eee;
    font-size: 16px;
}

.nav li a:hover {
    text-decoration: none;
    color: #bbb;
}

.menu-search-bar {
    display: flex;
}

.search-label {
    margin: 5px;
}

.search-bar {
    padding-left: 10px;
}

.logo-img {
    display: inline-block;
}

.img--link,
.img--link:hover {
    text-decoration: none;
}

.logo-image {
    border-radius: 50%;
    height: 12vh;
    margin-left: 30px;
    border: 5px solid black;
}

.main-header {
    display: inline-block;
    color: #e5e5e5;
    font-size: 36px;
    font-family: Poppins, sans-serif;
    margin-left: 10px;
    /* margin-top: 20px; */
}

.body--header {
    position: relative;
    /* margin-top: 13vh; */
}

.mini-nft-cont {
    background-color: #bbb;
    width: 300px;
    height: 620px;
    margin: 0 10%;
    border-radius: 10px;
    padding-top: 10px;
}

.nft-cont-text {
    background-color: #eee;
    height: 280px;
    width: 280px;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    /* padding-top: 10px; */
    opacity: 0.4;
}

.nft-text-head {
    color: #000;
}

.nft-codename {
    font-size: 20px;
    margin: -40px 10px 0 10px;
    /* margin-top: -40px; */
}

.nft-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 200px; */
    height: 300px;
}

#nft-imgs-1,
#nft-imgs-2,
#nft-imgs-3 {
    width: 270px;
    height: 300px;
    /* margin: 10px; */
}

.nft-img-container {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
    width: 70%;
}

.header-img {
    width: 100%;
    opacity: 0.15;
    max-height: 87vh;
}

#header-img-text-cont{
    top: 50%;
    left: 5%;
    transform: translate(5%,50%);
}

.night-mode-head{
    box-shadow: 0px 0px 10px 4px var(--sky-blue);
    color: #333;
    border: 1px solid var(--sky-blue);
    background-color: rgba(28, 228, 179, 0.55);
    border-radius: 10px;
    
}

.night-mode-button{
    /* background-color: rgba(28, 229, 179, 0.15); */
    color: #0f0f0f;
}

#header-img-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 30%;
    left: 10%;
    font-size: 18px;
    /* background-color: rgba(28, 229, 179, 0.05); */
    font-family: Poppins, sans-serif;
    height: 250px;
    width: 450px;
}

.head-text {
    background-color: rgba(28, 229, 179, 0.05);
    /* height: 220px; */
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    padding: 10px 30px;
}

.head-text-sub {
    font-size: 14px;
    width: 440px;
    margin-bottom: 70px;
}

#goals-button{
    color: var(--sky-blue);
}

.goals {
    height: 100px;
    margin-top: 30px;
    width: 200px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid var(--sky-blue);
    /* top: 10%;
    left: 50%;
    transform: translate(10%,50%); */
    margin-left: 30px;
}

.goals:hover {
    text-decoration: none;
    color: var(--sky-blue);
    box-shadow: 2px 2px 10px #444;
}

/* main content */
.main--content-bg {
    text-align: center;
    padding-top: 5vh;
    /* opacity: 0.1; */
    /* background-color: #1ce5b3; */
    background-color: #1ce4b326;
    /* background-color: #923cb5;
background-image: linear-gradient(180deg, #792a99 0%, #53136d 95%); */
}

.main--content {
    /* opacity: 0.99;    */
    font-family: Poppins, sans-serif;
}

.main--head-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px 325px;
    height: 70px;
    filter: blur(5px);
    border: 3px solid #242323;
    box-shadow: 1px 2px 2px #000;
    bottom: -80px;
}

.main--content h1 {
    position: relative;
    /* font-family: serif, sans-serif; */
    font-weight: 500;

    font-size: 38px;
    padding: 0 0 40px 0;
    margin-top: 25px;
    border-radius: 10px;
}

.main-content-subtext {
    background-color: #eeeddd;
    box-shadow: 0 0 30px #cc3e79;
    border-radius: 10px;
    padding: 40px;
    align-items: center;
    /* margin: 0 400px; */
    margin: 0 20%;
    font-size: 11px;
}

.main-content-subtext-text {
    /* font-family: Poppins, sans-serif; */
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.bottom {
    margin-bottom: 30px;
}

.main-content-subtext-button {
    /* margin-top: 320px; */
    /* height: 50px;
    width: 200px; */
    padding: 10px 15px;
    background-color: var(--sky-blue);
    color: #000;
    text-decoration: none;
    border: 1px solid var(--sky-blue);
    border-radius: 5px;
}

.main-content-subtext-button:hover {
    text-decoration: none;
    color: #000;
    box-shadow: 0px 0px 10px 1px var(--sky-blue);
}

.main--head {
    margin: 20px 0 -10px 0;
    color: #deeeee;
    animation: fadeIn ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.main--head:hover {
    text-decoration: underline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-content-li {
    font-size: 18px;
    list-style: none;
    margin-bottom: 20px;
}

.nft-list {
    /* background-color: var(--sky-blue); */
    text-align: left;
    margin-left: 25%;
    margin-bottom: 40px;
}

.nft-links:hover {
    color: #000;
    text-decoration: none;
    border: 1px solid black;
}

.nft-links {
    padding: 20px;
    text-decoration: none;
    color: #000;
}

.text-danger {
    margin-left: 20px;
}

.main--head-sub,
.main--head-sub-sub {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    color: #aaa;
}

.video-language {
    font-size: 18px;
    color: #a7ac10;
    margin: 20px 0;
}

.video-player {
    width: 720px;
    aspect-ratio: 16/9;
    /* border-radius: 10px; */
}

#newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter {
    background-color: #deeeee;
    min-height: 400px;
    width: 50%;
    text-justify: center;
    border-radius: 10px;
    border: 2px solid #972c58;
    box-shadow: 0px 0px 30px #1cef54;
    margin: 50px 0 0 0;
    padding: 20px 0;
}

.newsletter-head {
    color: #242323;
}

.newsletter-subhead {
    padding: 0 20px;
    text-align: center;
}

.newsletter-subscribe {
    padding: 20px 0;
}

.gneushk {
    width: 70%;
    height: 50px;
    color: #8a8a8a;
}

.submit {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    color: #f3f3f3;
    border: 0;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}
/* 
.submit:active{
    
} */

#day-night {
    /* background-color: #000; */
    color: yellow;
    font-size: 25px;
    border: 0;
}

#user-face{
    background-color: initial;
    color: #fff;
    border: 0;
    font-size: 30px;
    top: 5%;
    transform: translateY(5%);
}

@media only screen and (max-width: 980px) {
    .newsletter {
        width: 720px;
    }
}
/* main content end */

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links.inline li {
    display: inline-block;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}
@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}
